To create list in python the square brackets [] are used. 
In python list is used to store multiple values in a single variable, which are accesable through the proper command.
List can be used to store the various data types.eg.-int,string,boolean etc.
List can be have mixed data type.

# List Creation

In [2]:
k=[26,11,25,63,85]
k

[26, 11, 25, 63, 85]

In [3]:
j=['keshav','Mahesh','Joshi']
j

['keshav', 'Mahesh', 'Joshi']

In [4]:
s=['keshav',26,'feb',2001]
s

['keshav', 26, 'feb', 2001]

# Nasted list

Nasted list means list of list.

In [6]:
p=[25,56,75,['Pruthvi','Chavan']]
p

[25, 56, 75, ['Pruthvi', 'Chavan']]

In [7]:
type(p)

list

# List Methods

## 1. Append
the append method adds the new element as last element of the given list
if append is used to add list to another list then the list which you want to add  becomes the single element of that list.

In [10]:
list_1=['keshav','Mahesh','Joshi',26,'Feb',2001]
list_1

['keshav', 'Mahesh', 'Joshi', 26, 'Feb', 2001]

In [11]:
list_2=['Sweety','Govind','Dhas',11,'Nov',2000]
list_2

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000]

In [12]:
list_1.append('boy') # which adds the 'boy' at the end of list_1.

In [13]:
list_1

['keshav', 'Mahesh', 'Joshi', 26, 'Feb', 2001, 'boy']

In [14]:
list_2.append('girl') # which adds the 'girl' at the end of list_2
list_2

['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000, 'girl']

In [15]:
# to add the list_2 as element to the list_1 
list_1.append(list_2)
list_1

['keshav',
 'Mahesh',
 'Joshi',
 26,
 'Feb',
 2001,
 'boy',
 ['Sweety', 'Govind', 'Dhas', 11, 'Nov', 2000, 'girl']]


i.e list_2 is now the single element of list_1
 append is the method so whenever append is used  for any list the respective changes are 
 made in the original list. i.e when we call for original list the changed / modified list 
 will appears in the output.

In [16]:
list_3=['q','w','e','r','t','y']
list_3.append('u')
list_3

['q', 'w', 'e', 'r', 't', 'y', 'u']

In [17]:
list_4=['a','s','d','f']
list_4
list_4.append(list_3)
list_4

['a', 's', 'd', 'f', ['q', 'w', 'e', 'r', 't', 'y', 'u']]

# 2.Extend
extend also adds the new element like append but the difference is that extend method expands the given list. 
if extend is used to add one list to another it adds the all elements of second list to the first list. i.e all elements of the of the second list are now elements of the first.
that mens it does not add the whole list as a single element of the given list.

In [19]:
list_5=[26,2,2001]
list_5.extend('Keshav')
list_5

[26, 2, 2001, 'K', 'e', 's', 'h', 'a', 'v']

In [20]:
list_6=[12,13,14,15]
list_7=[16,17,18,19]
list_6.extend(list_7)
list_6

[12, 13, 14, 15, 16, 17, 18, 19]

# Extend list with the non list elements
suppose a list is given and we want to add non listed elements like 0,1,2, etc in the list then the following method is used.

In [22]:
a=[1,2,3,4,5,6,7,8,9]
a.extend(range(3))# this will add three index starting from zero.
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2]

In [23]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2]

In [24]:
a.extend(range(2:5))# range function cannot have 2 parameters.
a

SyntaxError: invalid syntax (624496997.py, line 1)

# Extend list using "+" operator

In [34]:
k=['keshav']
j=['mahesh','joshi']
m=k+j
m

['keshav', 'mahesh', 'joshi']

In [36]:
l=m-k # '-' operator is not supported in the list
l

TypeError: unsupported operand type(s) for -: 'list' and 'list'

# Index
gives the element in the list at the given index or at a given position.

In [39]:
x=['khj','dadsxzc','adsczx','wefs','oqwk','deas','wuqids','qrw','oij']
x

['khj', 'dadsxzc', 'adsczx', 'wefs', 'oqwk', 'deas', 'wuqids', 'qrw', 'oij']

In [41]:
x[0]# gives the first element of the list because the indexing always starts with the zero th
#index and in python zero th index means the first postion element.

'khj'

In [43]:
x[9]# here output will show the error that is 'index error' which means somthing is wrong with
# the indexing and if we give index which is not exist that high index then it shows the 'list
#index out of range'

IndexError: list index out of range

In [45]:
# if we want to find length of a given list 
len(x)

9

in above example the length of a list is 9 and we have given an input as x[9] that means the 10th element in the list which doesn't exist therefore the index error occurs.

In [47]:
x

['khj', 'dadsxzc', 'adsczx', 'wefs', 'oqwk', 'deas', 'wuqids', 'qrw', 'oij']

In [49]:
x[-1]# reverse indexing starts from -1. i.e if we call x[-1] it shows the last element of list.

'oij'

In [51]:
x[-2]

'qrw'

In [53]:
x[-9]

'khj'

In [55]:
x[-10]# again length of given list is 9 and we used reverse indexing so the max index is -9.
# so the above input again shows the 'index error'.

IndexError: list index out of range

In [57]:
# display the ouput as 'keshav',26,'feb'
o=[56,23,85,45,12,452,['keshav',26,'feb',2001]]

In [59]:
o

[56, 23, 85, 45, 12, 452, ['keshav', 26, 'feb', 2001]]

In [61]:
o[6][0:3]

['keshav', 26, 'feb']


here the list contains again a list but it is a single element of list 'o' and its index is 6 so if we want to find the index within the 6th index we have to give it in the sapearte bracket. Here we want to find 3 elements of 6th index so we starts from 0 and end with 3.

In [63]:
# solve the same problem using reverse operator

In [65]:
o

[56, 23, 85, 45, 12, 452, ['keshav', 26, 'feb', 2001]]

In [67]:
o[-1][0:3]

['keshav', 26, 'feb']

In [69]:
o[-1][-4:-1]

['keshav', 26, 'feb']


Note: remember that in the indexing the last index is always excluded.

In [71]:
o(7)# it will give the type error because the list elements are not callable.

TypeError: 'list' object is not callable

In [73]:
o.index(56)

0

In [1]:
list_a=['ksj','dhas','shsj',6,5,2,]
list_a

['ksj', 'dhas', 'shsj', 6, 5, 2]

In [9]:
list_a[0:5:2]# this gives the list elements starts from index 0 and end with index 
# 4 with the step 2

['ksj', 'shsj', 5]

# Inserting value at specific position

In [76]:
o

[56, 23, 85, 45, 12, 452, ['keshav', 26, 'feb', 2001]]

In [78]:
# insert value 84 before the 85 in the given list

In [80]:
o.insert(2,84)
o

[56, 23, 84, 85, 45, 12, 452, ['keshav', 26, 'feb', 2001]]


to insert any specific value in any position in the list just give the index where you wnat to
add the new element and the element that you want to add to the 'insert' method.

In [82]:
o.insert([7][0],'pruthvi')
o

[56, 23, 84, 85, 45, 12, 452, 'pruthvi', ['keshav', 26, 'feb', 2001]]


here the 'pruthvi' is added at the 7th position but we wnat add it before the 'keshav'

In [86]:
o[8].insert(0,'pruthvi')
o

[56,
 23,
 84,
 85,
 45,
 12,
 452,
 'pruthvi',
 ['pruthvi', 'keshav', 26, 'feb', 2001]]


so from the above example it is cleared that if you want to add any element or object in the list of list then firt you have to give the index of the list which is the part of another list and then use the insert method.

In [88]:
# add pankaj after the keshav in the given list

In [90]:
o# calling the gievn list

[56,
 23,
 84,
 85,
 45,
 12,
 452,
 'pruthvi',
 ['pruthvi', 'keshav', 26, 'feb', 2001]]

In [92]:
o.index('pruthvi')# finding the position of the list which is the part of another list

7

In [94]:
o[8].insert(2,'pankaj')# inserting the 'pankaj' at the index '2' which is after the 'keshav'.
o

[56,
 23,
 84,
 85,
 45,
 12,
 452,
 'pruthvi',
 ['pruthvi', 'keshav', 'pankaj', 26, 'feb', 2001]]

# Removing the elemement or object of list using 'pop' 
list.pop(index of object that you want to remove). If you give empty brackets then it automatically removes the last element or object.

In [4]:
list=['keshav','mahesh','joshi',26,'feb',2001,2000]
list

['keshav', 'mahesh', 'joshi', 26, 'feb', 2001, 2000]

In [6]:
list.pop()# default pop index is last. i.e even if it is not given the index of last element 
#in the list it removes the last element if empty brackets are given.
list

['keshav', 'mahesh', 'joshi', 26, 'feb', 2001]

In [8]:
list.pop(2)# the element having index 2 is get removed.

'joshi'

In [10]:
list

['keshav', 'mahesh', 26, 'feb', 2001]

In [12]:
list.pop('keshav')# pop method works on indexing if you don't know the index of the element 
# that you want to remove then you can't use the 'pop'. It gives type error.

TypeError: 'str' object cannot be interpreted as an integer

In [38]:
list.pop(100)# if the index which is not in the list is given then it gives the 'index error'
# which tells us that the index is out of range.
list

IndexError: pop index out of range

# Using 'Remove'
list.remove(object of list) this is the general representation of remove method.
It does not works on the indexing. i.e if you want to remove object in the list then you must have to know the object. Lets see with an example.

In [19]:
list_26=['abcd','cdef','fghi','ijkl','lmno','opqr','rstu','uvwx','xyz']
list_26

['abcd', 'cdef', 'fghi', 'ijkl', 'lmno', 'opqr', 'rstu', 'uvwx', 'xyz']

In [23]:
list_26.remove() # here empty brackets are not allowesd because 'remove' needs the exact object 
# in the list that you want to remove. So the code gievs the type error.

TypeError: list.remove() takes exactly one argument (0 given)

In [25]:
list_26.remove('abcd') # removes 'abcd' from the list.

In [27]:
list_26

['cdef', 'fghi', 'ijkl', 'lmno', 'opqr', 'rstu', 'uvwx', 'xyz']

In [29]:
list_26.remove('fghi')

In [31]:
list_26

['cdef', 'ijkl', 'lmno', 'opqr', 'rstu', 'uvwx', 'xyz']

In [40]:
list_26.remove('klmg') # if the object which is not in the list is given then it gives the 
# 'value error' that menas the value is not in the list.

ValueError: list.remove(x): x not in list

# reversing the list

In [43]:
list_11=['ks','ew','se','he','at','vy']
list_11

['ks', 'ew', 'se', 'he', 'at', 'vy']

In [53]:
list_11.reverse()# reverse the objects of the list.

In [55]:
list_11

['vy', 'at', 'he', 'se', 'ew', 'ks']

In [57]:
list_11.reverse(4) # reverse() is a non argument method that means it does not need any
# argument if you give it then it will shows the 'type error'.

TypeError: list.reverse() takes no arguments (1 given)

# Count the number of occurences of items in the list
list.count('element or item of string'). It gives how many times the item of the given list is repeated.

In [2]:
list_10=['one','two','three','four','five','six','seven','eight','nine','ten']
list_10

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [4]:
list_10.count('one')

1

In [6]:
list_10.insert(0,'one')
list_10

['one',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [8]:
list_10.count('one')

2

In [10]:
list_10.insert(2,'one')

In [12]:
list_10.count('one')

3

In [14]:
list_10.insert(0,'keshav',4)# i want to add 'keshav' at 0th index but insert supports oly two arguments.
# to add 'keshav' 4 times at 0th place we can use loops.

TypeError: insert expected 2 arguments, got 3

# Sort
list.sort(). It will sort the list and the default order is accending.

In [17]:
list=[52,56,78,57,79,51,89,100]
list

[52, 56, 78, 57, 79, 51, 89, 100]

In [19]:
list.sort()

In [21]:
list

[51, 52, 56, 57, 78, 79, 89, 100]

In [23]:
list_1=['keshav','abcd','trhrqh','joshi',26,44,59,1]# sorting works only for similar data types.
list_1.sort()
list_1

TypeError: '<' not supported between instances of 'int' and 'str'

In [25]:
list_1=['keshav','abcd','trhrqh','joshi']
list_1.sort()
list_1

['abcd', 'joshi', 'keshav', 'trhrqh']

In [27]:
list_1=['keshav','abcd','trhrqh','joshi','26','44','59','1']# here all entries are string 
# thefore sorting works on it.
list_1.sort()
list_1

['1', '26', '44', '59', 'abcd', 'joshi', 'keshav', 'trhrqh']

# Clear and delete the existing list
# list.clear() removes the all elements of list.
# list.del() deletes the exising list.

In [31]:
list_1

['1', '26', '44', '59', 'abcd', 'joshi', 'keshav', 'trhrqh']

In [33]:
list_1.clear()

In [35]:
list_1

[]

In [39]:
del list_1

In [41]:
list_1

NameError: name 'list_1' is not defined